In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.svm import SVC

In [37]:
train_path = 'titanicTrain.csv'
verify_path = 'titanicQuestion.csv'

In [38]:
train_df = pd.read_csv(train_path)
verify_df = pd.read_csv(verify_path)

cleaning data ...

In [39]:
# if a row has all columns with NaN, strip it.
train_df.dropna(axis='rows', how='all', inplace=True)
train_df.head()

verify_df.dropna(axis='rows', how='all', inplace=True)
verify_df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3,NaN,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q,NaN,NaN,NaN
1,3,NaN,"McCoy, Miss. Agnes",female,NaN,2,0,367226,23.2500,NaN,Q,16,NaN,NaN
2,3,NaN,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q,16,NaN,NaN
3,3,NaN,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q,16,NaN,NaN
4,3,NaN,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q,13,NaN,NaN

In [40]:
# drop some unhelpful columns...
train_df.drop(columns=['home.dest', 'body','embarked','cabin','name','ticket'], inplace=True)
train_df.head()

verify_df.drop(columns=['home.dest', 'body','embarked','cabin','name','ticket'], inplace=True)
verify_df.head()

   pclass  survived     sex  age  sibsp  parch     fare boat
0       3       NaN    male  NaN      0      0   7.7500  NaN
1       3       NaN  female  NaN      2      0  23.2500   16
2       3       NaN  female  NaN      2      0  23.2500   16
3       3       NaN    male  NaN      2      0  23.2500   16
4       3       NaN  female  NaN      0      0   7.7875   13

In [41]:
# 由直系血親的人數和配偶+兄弟姊妹合併成家庭大小
train_df['family_size'] = train_df['sibsp'] + train_df['parch']

verify_df['family_size'] = verify_df['sibsp'] + verify_df['parch']

In [42]:
# sex->sex_number M=1,F=0
# boat->on_boat  if row('boat') is not NaN
train_df['sex_number'] = train_df.apply(lambda row: 0 if row['sex'] == 'male' else 1, axis=1)
train_df['on_boat'] = train_df.apply(lambda row: 0 if type(row['boat']) == type(1.0) and np.isnan(row['boat']) else 1, axis=1)
train_df.drop(columns=['sex', 'boat'], inplace=True)
train_df.head()

verify_df['sex_number'] = verify_df.apply(lambda row: 0 if row['sex'] == 'male' else 1, axis=1)
verify_df['on_boat'] = verify_df.apply(lambda row: 0 if type(row['boat']) == type(1.0) and np.isnan(row['boat']) else 1, axis=1)
verify_df.drop(columns=['sex', 'boat'], inplace=True)
verify_df.head()

,pclass,survived,age,sibsp,parch,fare,family_size,sex_number,on_boat
0,3,NaN,NaN,0,0,7.7500,0,0,0
1,3,NaN,NaN,2,0,23.2500,2,1,1
2,3,NaN,NaN,2,0,23.2500,2,1,1
3,3,NaN,NaN,2,0,23.2500,2,0,1
4,3,NaN,NaN,0,0,7.7875,0,1,1

In [43]:
# setting features to be considered
features = ['sex_number', 'age', 'pclass', 'fare', 'sibsp', 'parch', 'on_boat', 'family_size']

In [44]:
# missing value preprocessing
#     age:float
# impute missing value
imputer = preprocessing.Imputer(missing_values='NaN', strategy='mean', axis=0, copy=False)
imputer = imputer.fit(train_df.loc[:, features])
train_arr_imputed = imputer.fit_transform(train_df.loc[:, features])
verify_arr_imputed = imputer.fit_transform(verify_df.loc[:, features])
#train_df_imputed = pd.DataFrame()

In [45]:
# 訓練模型
svc = SVC()
svc_trained = svc.fit(train_arr_imputed, train_df['survived'])

In [48]:
# 計算測資
verify_df['survived'] = svc_trained.predict(verify_arr_imputed)
verify_df

,pclass,survived,age,sibsp,parch,fare,family_size,sex_number,on_boat
0,3,0.0,NaN,0,0,7.7500,0,0,0
1,3,0.0,NaN,2,0,23.2500,2,1,1
2,3,0.0,NaN,2,0,23.2500,2,1,1
3,3,0.0,NaN,2,0,23.2500,2,0,1
4,3,1.0,NaN,0,0,7.7875,0,1,1
5,3,0.0,NaN,0,0,15.5000,0,0,0
6,3,1.0,NaN,0,0,7.8792,0,1,1
7,3,1.0,15.0,0,0,8.0292,0,1,0
8,3,0.0,35.0,0,0,7.7500,0,1,0
9,3,0.0,NaN,0,0,7.7500,0,0,0
10,3,0.0,24.0,1,0,16.1000,1,0,0
11,3,0.0,19.0,1,0,16.1000,1,1,0
12,3,0.0,NaN,0,0,7.7500,0,1,0
13,3,0.0,NaN,0,0,8.0500,0,1,0
14,3,0.0,NaN,0,0,8.0500,0,1,0
15,3,0.0,55.5,0,0,8.0500,0,0,0
16,3,0.0,NaN,0,0,7.7500,0,0,0
17,3,1.0,21.0,0,0,7.7750,0,0,1
18,3,0.0,NaN,0,0,8.0500,0,0,0
19,3,0.0,24.0,0,0,7.8958,0,0,0
20,3,0.0,21.0,0,0,7.8958,0,0,0
21,3,0.0,28.0,0,0,7.8958,0,0,0
22,3,0.0,NaN,0,0,7.8958,0,0,0
23,3,1.0,NaN,0,0,7.8792,0,1,1
24,3,0.0,25.0,0,0,7.6500,0,0,0
25,3,1.0,6.0,0,1,12.4750,1,0,1
26,3,1.0,27.0,0,1,12.4750,1,1,1
27,3,0.0,NaN,0,0,8.0500,0,0,0
28,3,0.0,NaN,1,0,24.1500,1,1,1
29,3,0.0,NaN,1,0,24.1500,1,0,0
...,...,...,...,...,...,...,...,...,...
279,3,1.0,14.0,0,0,7.8542,0,1,0
280,3,0.0,22.0,0,0,7.8958,0,0,0
281,3,0.0,22.0,0,0,9.0000,0,0,0
282,3,0.0,NaN,0,0,8.0500,0,0,0
283,3,0.0,NaN,0,0,7.5500,0,0,0
284,3,0.0,NaN,0,0,8.0500,0,0,0
285,3,0.0,32.5,0,0,9.5000,0,0,0
286,3,0.0,38.0,0,0,7.2292,0,1,1
287,3,0.0,51.0,0,0,7.7500,0,0,0
288,3,0.0,18.0,1,0,6.4958,1,0,0
289,3,0.0,21.0,1,0,6.4958,1,0,0
290,3,0.0,47.0,1,0,7.0000,1,1,0
291,3,0.0,NaN,0,0,8.7125,0,0,0
292,3,0.0,NaN,0,0,7.5500,0,0,0
293,3,0.0,NaN,0,0,8.0500,0,0,0
294,3,0.0,28.5,0,0,16.1000,0,0,0
295,3,0.0,21.0,0,0,7.2500,0,0,0
296,3,0.0,27.0,0,0,8.6625,0,0,0
297,3,0.0,NaN,0,0,7.2500,0,0,0
298,3,0.0,36.0,0,0,9.5000,0,0,0
299,3,0.0,27.0,1,0,14.4542,1,0,1
300,3,0.0,15.0,1,0,14.4542,1,1,0
301,3,0.0,45.5,0,0,7.2250,0,0,0
302,3,0.0,NaN,0,0,7.2250,0,0,0
303,3,0.0,NaN,0,0,14.4583,0,0,0
304,3,1.0,14.5,1,0,14.4542,1,1,0
305,3,0.0,NaN,1,0,14.4542,1,1,0
306,3,0.0,26.5,0,0,7.2250,0,0,0
307,3,0.0,27.0,0,0,7.2250,0,0,0
308,3,0.0,29.0,0,0,7.8750,0,0,0

In [49]:
verify_df.to_csv('titanicQuestion.solved.csv')